<!DOCTYPE html>
<html>
<head>
  <title></title>

  <style type="text/css">

</style>
</head>
<body>
  <h3>image simple</h3>
  <div class="xrk-ad">
  </div>
  <script type="text/javascript" src="http://localhost:8000/js/jquery-2.2.0.min.js"></script>
  <%= javascript_include_tag 'image_simple_jsonp' %>

</body>
</html>

