<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div data-ad-id="AD1" class="">
  </div>
  <hr>
  <div data-ad-id="AD2"  class="swiper-container">
  </div>  
  <hr>
  <div data-ad-id="AD3"  class="">
  </div>

</body>
  <script type="text/javascript" src="http://localhost:8000/js/tmp1.js"></script>
  <script type="text/javascript" src="http://localhost:8000/js/tmp2.js"></script>
    
  <script type="text/javascript" src="http://localhost:8000/js/secrete_sdk.js?appId=xxx123"></script>
  <script>
  // window.xrkAdAsyncInit = function() {
  //   XrkAd.init({
  //     appId: 'your-app-id',
  //     version: 'v1',
  //     userId: "",
  //     objectId: ""
  //   });
  // };

  // (function(d, s, id){
  //    var js, xjs = d.getElementsByTagName(s)[0];
  //    if (d.getElementById(id)) {return;}
  //    js = d.createElement(s); 
  //    js.id = id;
  //    js.type = "text/javascript";
  //    js.async = true;
  //    js.src = "//localhost:8000/js/imgae_multi_sdk.js";
  //    xjs.parentNode.insertBefore(js, xjs);
  //  }(document, 'script', 'xrkad-jssdk'));
</script>

</html>